---
layout: default
permalink: /blog/
---

{% for post in site.posts %}
      <article class="post">
        <h1>{{ post.title }}</h1>
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url }}">[ Lire ]</a>
      </article>
{% endfor %}
